* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Montserrat;
}

nav {
  height: 80px;
  width: 100%;
  background-color: #2f3640;
}

label.logo {
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding: 0 100px;
  line-height: 80px;
}

nav ul {
  float: right;
  margin-right: 40px;
}

nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}

nav a {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}

a.active, a:hover {
  border: 1px solid white;
  -webkit-transition: .1s;
  transition: .1s;
}

nav #icon {
  color: white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1048px) {
  label.logo {
    font-size: 32px;
    padding-left: 60px;
  }
  nav ul {
    margin-right: 20px;
  }
  nav a {
    font-size: 17px;
  }
}

@media (max-width: 909px) {
  nav #icon {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2f3640;
    top: 80px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  nav li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav a {
    font-size: 20px;
  }
  a.active, a:hover {
    border: none;
    color: blue;
  }
  nav ul.show {
    left: 0;
  }
}

.web-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.web-content .left {
  width: 35%;
  height: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.web-content .left .left-content {
  width: 90%;
  background-color: #2f3640;
  border-radius: 30px;
  padding: 30px;
  margin: 50px;
}

.web-content .left .left-content h1 {
  text-align: center;
  margin-bottom: 25px;
  color: white;
}

.web-content .left .left-content label {
  color: white;
}

.web-content .left .left-content input {
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
  font-family: Montserrat;
}

.web-content .left .left-content #submit {
  background-color: black;
  color: white;
  margin-top: 40px;
  height: 55px;
  border-radius: 50px;
}

.web-content .left .left-content #submit:hover {
  cursor: pointer;
  background-color: blue;
  color: black;
}

.web-content .left .left-content #reset {
  border-radius: 50px;
}

.web-content .left .left-content #reset:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.web-content .right {
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.web-content .right .right-content {
  width: 100%;
  background-color: #dedede;
  padding: 30px;
}

.web-content .right .right-content .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.web-content .right .right-content .search #sinput {
  width: 50%;
  border: none;
  border-radius: 10px;
  padding-left: 50px;
  font-size: 15px;
  padding: 5px;
  font-family: Montserrat;
}

.web-content .right .right-content .search #sbtn {
  margin-left: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  width: 15%;
  background-color: black;
  color: white;
  padding: 5px;
  font-family: Montserrat;
}

.web-content .right .right-content .search #sbtn:hover {
  background-color: blue;
}

.web-content .right .right-content table {
  width: 100%;
  margin-top: 30px;
}

.web-content .right .right-content table tr {
  text-align: center;
}

.web-content .right .right-content table tr button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-family: Montserrat;
}

.web-content .right .right-content table tr button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 909px) {
  .web-content {
    display: block;
  }
  .web-content .left {
    width: 100%;
  }
  .web-content .left .left-content {
    width: 50%;
  }
  .web-content .right {
    width: 100%;
  }
  .web-content .right .right-content {
    padding: 5px;
  }
  .web-content .right .right-content .search #sinput {
    padding-left: 20px;
    font-size: 12px;
  }
  .web-content .right .right-content .search #sbtn {
    font-size: 12px;
  }
  .web-content .right .right-content table tr button {
    padding: 7px 10px;
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .left-content {
    width: 80%;
  }
}
/*# sourceMappingURL=new.css.map */